.header {
  margin-top: 2.09rem;
  font-weight: 500;
  padding-bottom: 3rem;
  @include respond-to("mobile", "down"){
    margin-top: 3.09rem;
    padding-bottom: 3.17rem;
  }
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 70px;
  @include respond-to("mobile", "down"){
    display: none;
  }
  &-item{
    color: inherit;
    font-size: 1rem;
  }
  &-mobile {
    display: none;
    @include respond-to("mobile", "down"){
      display: block;
    }
  }
}